home_presence_app:
  module: home_presence_app
  class: HomePresenceApp
  plugin:
    - HASS
    - MQTT
  monitor_topic: presence
  depart_check_time: 30
  minimum_confidence: 80
  not_home_timeout: 15
  system_check: 30
  system_timeout: 60
  home_gateway_sensors:
    - binary_sensor.main_door_contact
  home_motion_sensors:
    - binary_sensor.motion_sensor_occupancy_1
    - binary_sensor.motion_sensor_occupancy_2
    - binary_sensor.hallway_motion_sensor_occupancy
  everyone_not_home: everyone_not_home
  everyone_home: everyone_home
  somebody_is_home: somebody_is_home
  user_device_domain: binary_sensor  # Options: binary_sensor or device_tracker
  #pin_app: True
  #pin_thread: 3
  #log: apps_log
  #log_level: DEBUG
  known_devices:
    - xx:xx:xx:xx:xx:xx Odianosen's iPhone
    - xx:xx:xx:xx:xx:xx Nkiruka's iPad
